:root {
  --background: #fffdf7;
  --nav-step-active-color: #3167ff;
  --black: #000000;
  --plan-description-head-color: #333333;
  --nav-background: #ffffff;
  --red-orange-price: #d75d33;
  --red-color: #ff0000;
  --white: white;
  --btn-purple: #af2081;
  --btn-dark-blue-purple: #533174;
  --nav-border-color: #d0d1d1;
  --accordian-bottom-border: #ddd;
  --date-item-border: #707070;
  --meal-border: #dfdfdf;
  --checkout-btn: #00000029;
  --border-line: #c7c8c9;
  --meal-card-border-color: #ededed;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}

.main-body {
  background-color: var(--background);
  font-size: 16px;
}

/* Steps header styling */
.nav-container {
  font-size: 14px;
  border-bottom: 1px solid var(--nav-border-color);
  z-index: 99;
}
.nav-container .steps-container {
  background-color: var(--nav-background);
  padding: 0;
  max-width: 100%;
  width: 100%;
  min-height: 60px;
  height: 100%;
}
.nav-container .steps-container .header-list.active {
  color: var(--nav-step-active-color);
  font-weight: 700;
}
#main-steps-section section {
  display: none;
}
#main-steps-section section.active {
  display: block;
}
.header-list {
  list-style-type: none;
  font-weight: 500;
}
.header-list:not(.active):hover {
  text-decoration: underline;
}
.header-list {
  cursor: default;
}
.header-list.previous,
.header-list.active {
  cursor: pointer;
}
.header-list.previous:hover {
  text-decoration: underline;
}
.header-list:not(.previous):hover,
.header-list.active:hover {
  text-decoration: none;
}

/* -------------------------Plan Section--------------------  */
/* Logo & Description Section */
.section-container .plan-section {
  background-color: var(--background);
}
.logo-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.logo-description .logo {
  width: 84px;
  height: 87px;
  margin-right: 20px;
}

.description-head {
  font-size: 36px;
  font-family: "Roboto-Medium", sans-serif;
  color: var(--plan-description-head-color);
  letter-spacing: 0px;
  max-width: 600px;
}
.description-text {
  max-width: 723px;
  font-family: "Roboto-Regular";
  width: 100%;
  text-align: center;
  letter-spacing: 0px;
}
.logo-description .description-text .bigger-box-price {
  font-family: "Roboto-Bold";
  color: var(--red-orange-price);
}

.logo-description .description-text .bigger-box-text {
  font-family: "Roboto-Bold";
}

/* Plans Card Styling */

.plan-meals-card {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
.plan-card-img-block {
  width: 100%;
  max-height: 209px;
  max-width: 278px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.sale-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--nav-background);
  color: var(--plan-description-head-color);
  border-radius: 15px;
  z-index: 10;
  font-family: "Roboto-Medium";
  font-size: 14px;
}
.plan-meal-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}
.plan-card-img-block:hover .plan-meal-image {
  transform: scale(1.1);
}
.plan-meals-card:nth-last-child(-n + 3)
  .plan-card-img-block:hover
  .plan-meal-image {
  animation: blink-once 0.09s steps(1, start);
}
@keyframes blink-once {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
}
.meal-description {
  line-height: 0.5;
  font-weight: 600;
}
.meal-count {
  font-size: 20px;
  font-family: "Roboto-Bold", sans-serif;
}
.plan-week {
  font-size: 14px;
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: var(--plan-description-head-color);
}
.plan-total-price-text {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
}
.plan-price {
  font-family: "Roboto-Medium", sans-serif;
  color: var(--black);
}
.plan-total-price {
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: var(--red-orange-price);
}

/* Get Started button */
.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-height: 160px;
  height: 100%;
}
.get-started .shipping-text {
  font-size: 14px;
  font-family: "Roboto-Regular";
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 0px;
  color: var(--black);
}
.get-started .get-started-btn {
  font-family: "Roboto-Bold";
  font-size: 16px;
  max-width: 150px;
  width: 100%;
  min-height: 45px;
  height: 100%;
  background: transparent
    linear-gradient(
      119deg,
      var(--btn-purple) 0%,
      var(--btn-dark-blue-purple) 100%
    )
    0% 0% no-repeat;
  border-radius: 4px;
  border: none;
  color: var(--white);
  transition: max-width 0.3s;
}
.get-started-btn:hover {
  max-width: 400px;
  width: 100%;
}

/* -----------Day Section--------  */
/* Date Section */

.date-container {
  max-height: 336px;
  height: 100%;
  max-width: 400px;
  border: none;
  margin: auto;
  cursor: pointer;
}
.date-container .date-item {
  padding: 10px;
  border-top: 0.5px solid var(--date-item-border);
  border-bottom: 0.5px solid var(--date-item-border);
  border-left: 1px solid var(--date-item-border);
  max-height: 46px;
  max-width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  transition: transform 0.4s ease;
}
.date-container .date-item:not(.selected):hover {
  transform: translateX(4px);
}
.date-container .date-item.selected {
  border-left: 8px solid var(--red-orange-price);
}
.date-container .date-item .popular-text {
  font-family: "Roboto-Regular";
  display: none;
  color: var(--red-orange-price);
  font-size: 12px;
  text-align: right;
}
.date-container .date-item.selected .popular-text {
  display: none;
}
.date-container .date-text-item {
  font-family: "Roboto-Medium";
  padding: 15px;
  /* font-size: 14px; */
}
.date-container .date-text-item .date-day {
  font-family: "Roboto-Bold";
  /* font-size: 14px; */
  color: var(--black);
}
.date-container .date-item:first-child .popular-text {
  display: inline;
}

.next-button-wrapper .next-button-delivery {
  max-width: 405px;
  width: 100%;
  min-height: 45px;
  height: 100%;
  background: transparent
    linear-gradient(
      119deg,
      var(--btn-purple) 0%,
      var(--btn-dark-blue-purple) 100%
    )
    0% 0% no-repeat;
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-size: 16px;
}
.first-delivery-description {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  height: 100%;
}
.first-delivery-description .first-delivery-text {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: 700;
}

.first-delivery-description .first-delivery-text .first-delivery-date {
  font-family: "Roboto-Bold";
  font-family: 14px;
}
.border-line {
  background-color: var(--border-line);
  padding: 1px !important;
}
/* Question Section */
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23D75D33' stroke-width='2' width='24' height='20'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E%0A");
}
.common-question-head {
  padding-top: 25px;
}

.common-question-head,
.day-section-head {
  font-size: 48px;
  font-family: "Roboto-Medium", sans-serif;
}

.accordion-button {
  font-size: 16px;
  font-family: "Roboto-Medium", sans-serif;
  color: var(--black);
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  min-height: 70px;
  height: 100%;
}
.accordion-button:not(.collapsed) {
  color: var(--red-orange-price);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid var(--accordian-bottom-border);
}
.accordion-button::after {
  fill: var(--red-orange-price);
}
.accordion-button:focus {
  box-shadow: none;
}
.accordian-panel-item {
  border: none;
  border-bottom: 1px solid var(--accordian-bottom-border);
  background-color: var(--background);
}
.accordian-main-panel {
  width: 77%;
  margin: 0 auto;
}
.accordian-description {
  width: 98%;
  font-size: 14px;
  margin: auto;
}
.accordian-end-space {
  min-height: 300px;
  height: 100%;
}

.accordion-body {
  padding: 1rem 0.5rem;
}

/*------------------Meal Section------------ */
.meal-card {
  border: 1px solid var(--meal-border);
  position: relative;
}
.meal-card .meal-image {
  max-width: 100%;
  width: 100%;
  max-height: 165px;
  height: 100%;
}
.meal-card .meal-info {
  font-family: "Roboto-Regular";
}
.meal-card .meal-info .meal-name {
  font-family: "Roboto-Bold";
  font-size: 14px;
}
.meal-card .meal-info .meal-details {
  font-family: "Roboto-Regular";
  gap: 1px;
}

.meal-gluten,
.meal-calories,
.meal-carbs,
.meal-protein,
.meal-speciality {
  font-size: 12px;
  color: var(--date-item-border);
}

.meal-gluten,
.meal-calories,
.meal-carbs,
.special-meal-div .meal-gluten,
.special-meal-div .meal-calories,
.special-meal-div .meal-carbs {
  border-right: 0.5px solid var(--meal-card-border-color);
}
.special-meal-div {
  background-color: var(--black);
}
.special-meal-div .meal-name,
.special-meal-div .meal-speciality,
.special-meal-div .meal-gluten,
.special-meal-div .meal-calories,
.special-meal-div .meal-carbs,
.special-meal-div .meal-protein,
.special-meal-div .meal-speciality {
  color: var(--nav-background);
}

.meal-card .meal-info .meal-details .add-btn {
  font-size: 14px;
  max-width: 65px;
  width: 100%;
  min-height: 33px;
  height: 100%;
  color: var(--white);
  background: transparent
    linear-gradient(
      135deg,
      var(--btn-purple) 0%,
      var(--btn-dark-blue-purple) 100%
    )
    0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px var(--checkout-btn);
  border-radius: 4px;
  border: none;
}
.meal-card .meal-info .meal-details .add-btn:disabled {
  opacity: 0.7;
}
.meal-card .special-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red-orange-price);
  color: var(--white);
  padding: 5px;
  font-size: 12px;
  border-radius: 0 5px 0 0;
  transform: translateY(-96px);
  height: 25px;
  width: 73px;
  text-align: center;
  font-family: "Roboto-Bold";
}

/* Meal Cart */
.add-to-cart-container {
  border: 1px solid var(--checkout-btn);
  padding: 0;
  background-color: var(--nav-background);
  position: fixed;
  right: 0;
  max-height: 94%;
  height: 100%;
  width: 100%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
}

.cart-items-container {
  overflow-y: auto;
  flex-grow: 1;
  position: relative;
  display: block;
}
.meal-cards-added-cart {
  max-height: 400px;
  height: auto;
  overflow-y: auto;
}
/* Media Queries */

@media screen and (max-width: 980px) {
  .description-text {
    max-width: 100%;
  }

  .description-head {
    font-size: 36px;
    line-height: 1;
  }

  /* Plan Card Description */

  .meal-count {
    font-size: 20px;
  }
  .plan-week {
    font-size: 16px;
  }
  .sale-tag {
    font-size: 14px;
  }
  .plan-total-price-text {
    font-size: 16px;
  }
  .plan-price {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .description-text {
    max-width: 100%;
  }

  .description-head {
    line-height: 1;
  }

  /* Plan Card Description */

  .meal-count {
    font-size: 16px;
  }
  .plan-week {
    font-size: 14px;
  }
  .sale-tag {
    font-size: 12px;
  }

  .get-started-btn {
    min-width: 342px;
  }
  /* Day Section */

  .common-question-head,
  .day-section-head {
    font-size: 30px;
  }

  .accordian-main-panel {
    width: 98%;
  }
  .date-container {
    margin: 0 25px;
  }

  .date-container .date-text-item {
    font-size: 14px;
  }
}
